.team-member:nth-child(n+5) {
    display: none;
}

.team-members-container {
    background: linear-gradient(to bottom right, #71d1fa, #628de8); /* Gradient background */
    border-radius: 15px; /* Rounded container */
    padding: 20px;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Ensure team members start from the left */
}

.team-member {
    width: calc(25% - 0px); /* Adjusted width to fit four members in a row */
    text-align: center;
    margin-bottom: 20px;
}

.member-image {
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
}

.rounded-image {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.member-details h3 {
    position: relative;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold; /* Make the name bold */
}

.member-details h3 a {
    text-decoration: none; /* Remove underline from the name link */
}

.rounded-icon {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.member-position {
    font-size: 14px;
    margin-bottom: 10px;
}

.member-bio {
    font-size: 14px;
}

.see-all-button {
    display: block;
    width: fit-content;
    margin: 20px auto 0;
    padding: 10px 20px;
    background: linear-gradient(to right, #0279f7, #0056b3); /* Gradient background */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s ease;
    font-weight: bold;
}

.see-all-button:hover {
    background: linear-gradient(to right, #0056b3, #007bff); /* Gradient background */
}
